header{
	text-align: center;
	color: white;
	margin:0;
	background-color: #0b5ca1 ;
}

header h2{
	margin: 0;
}

@font-face {
    font-family: BebasNeue_Bold;
    src: url(fonts/BebasNeue_Bold.otf);
}
@font-face {
    font-family: BebasNeue_Book;
    src: url(fonts/BebasNeue_Book.otf);
}
@font-face {
    font-family: BebasNeue_Light;
    src: url(fonts/BebasNeue_Light.otf);
}
@font-face {
    font-family: BebasNeue_Thin;
    src: url(fonts/BebasNeue_Thin.otf);
}
@font-face {
    font-family: BebasNeue_Regular;
    src: url(fonts/BebasNeue_Regular.otf);
}

.titleGiving{
	color: rgb(132, 194, 73);
	font-family: BebasNeue_Thin;
	padding-top: 1px;
	letter-spacing: 15.2px;
	margin: 0px 0px 0px 11px;
}

.titleReimagine{
	letter-spacing: 4px;
	margin: 5px 9px 9px;
	font-family: BebasNeue_Regular;
}

.headerText{
	background-color: #221f1f;
	border-bottom: 4px solid #00a8e3;
}
.exploreButton, #registrationDiv{
	line-height: 173%;
	margin: 1% 0;
}

.exploreButton, #registration{
	cursor: pointer;
	letter-spacing: 1.5px;
	font-family: BebasNeue_Light;
}

#LogInDiv{
	text-align:left;
	padding-left: 10px;
}
#SignUpDiv{
	text-align:right;
	padding-right: 10px;
	border-right: 3px solid white;
}

.title{
	display: inline-block;
	width: 50%;
	margin: 5px;
	color: white !Important;
	cursor: pointer;
	line-height: 85%;
}

.exploreButton{
	display: inline-block;
	float: left;
	margin-left: 20px !important;
}

#Profile{
	float: right;
	display: none;
	line-height: 173%;
	margin: 1% 0;
	cursor: pointer;
	letter-spacing: 1.5px;
	font-family: BebasNeue_Light;
    position: relative;
	text-align: right;
}

#Profile h2{
	margin-right: 20px;
}
.SingingIn{
	text-align : right;
}
