/*main Stats*/
.mainStats{
	background: #00a8e3 !important;
	color: white;
}
.mainStats1, .mainStats2, .mainStats3, .mainStats4{
	float: left;
	display: inline-block;
	margin-top: 0.7%;
	margin-bottom: 0.7%;
}
.mainStats1, .mainStats2, .mainStats3{
	border-right: 4px solid white;
}
.mainStatsNumber, .mainStatsText{
	margin-left: 33.3333%;
}
.mainStatsNumber > p{
	margin: 0;
	padding:0;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
}

.mainStatsText > p{
	margin: 0;
	padding:0;
	font-family: BebasNeue_Book;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid white;
	letter-spacing: 1px;
}


/*about_us*/
.about_us{
	width:100%;
	padding: 0;
	margin: 0;
	background: #092d3d;
	color: white;
	margin-top: 2%;
}

.about_us.row{
	height: 40vw;
}

.heading_in_about_us{
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #058bba;
	font-family: BebasNeue_Regular;
	font-size: 15pt;
	border-bottom: 5px solid ;
}
.heading_in_about_us>h2{
	margin:0px;
	font-size: 30pt;
}

.about_us.sect1, .about_us.sect2, .about_us.sect3{
	display: inline-block;
	float: left;
	font-family: BebasNeue_Bold;
	height: 16.2vw;
	background-size: cover;
}
.about_us.sect1 h2, .about_us.sect2 h2, .about_us.sect3 h2{
	margin: 0;
	letter-spacing: 1px;
}
.about_us.sect1{
	background-image: url(aboutUs1.png);
}
.about_us.sect2{
	background-image: url(aboutUs2.png);
}
.about_us.sect3{
	background-image: url(aboutUs3.png);
}
.aboutUsStats.number1{
	font-size: 35pt;
	text-align: left;
	margin-top: 3% !important;
	margin-left: 23% !important;
}
.aboutUsStats.number2{
	font-size: 35pt;
	text-align: center;
	margin-top: 11% !important;
	margin-left: -17% !important;
}
.aboutUsStats.number3{
	font-size: 35pt;
	text-align: center;
	margin-top: 4% !important;
	margin-top: 50px;
	margin-left: -2% !important;
}
.aboutUsStats.text1, .aboutUsStats.text2, .aboutUsStats.text3{
	font-size: 22pt;
	font-family: BebasNeue_Thin;
	text-align: center;
	line-height: 0%;
}
.aboutUsStats.text3{
	margin-left: 31% !important;
}



/*projects*/
.projects{
	max-width:100%;
	border-bottom: 10px solid #058bba;
	color: #333;	
	margin-top: 2%;
}

.heading_in_Projects{
	background: white;
	color: white;
	margin: 0;
	padding: 0;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
}
.heading_in_Projects > h2{
	text-align: center;
	margin: 0;
	width: 100%;
	padding-top: 0.3%;
	background-color: #058bba;
	font-family: BebasNeue_Bold;
	font-size: 30pt;
}
.projects.row{
	background-color: black;
	
}
.projects > p {
	font-size: 15px;
	text-align: center;
}

.projectsSect1, .projectsSect2, .projectsSect3, .projectsSect4{
	padding-top: 2%;
	padding-bottom: 2%;
	display: inline-block;
	background-color: white;
	float: left !Important;
	margin: 0;
	/*! margin-left: 6.25%; */
}

.projectsSect2{
	padding-left: 3.125%;
	padding-right: 3.125%;
}
.projectsSect3{
	padding-left: 2%;
	padding-right: 4.25%;
}
.projectsSect4{
	padding-left: 0.5%;
	padding-right: 1%;
	display: none;
}
.projectsSect1{
	padding-left: 4.25%;
	padding-right: 2%;
}

.projectsSection{
	background-color: #f3f4f4;
	font-family: BebasNeue_Book;
	Letter-spacing: 1px;
}
.projectStats{
	/*! padding: 12px; */
}
.projectDetails{
	margin: 15px;
}

.hInProjectSect{
	text-align: left;
	font-size: 20px;
	margin-top: 2px;
	padding-left: 1%;
	margin-bottom: 0;
}

.thumbnail{
	position: relative;
	content: " ";
	height: 13vw;
	overflow: hidden;
}
.thumbnail > img{
	position: relative;
	max-width: 100%;
	/*! height: 13vw; */
	margin: 0;
}
.locationCause{
	position: absolute;
	bottom: 0;
	align-content: baseline;
}
.cause p{
	color: white !Important;
	font-family: BebasNeue_Bold;
}
.cause{
	bottom: 0;
	position: absolute;
	left: 0;
	padding-left: 5px;
	background-color: #058bba;
	opacity: 0.85;
}
.projectLocation{
	font-size: 13px;
	bottom: 0;
	right: 0;
	position: absolute; 
}
.thumbnail p{
	margin: 0;
	color: white;
	bottom: 0;
}
.fa-map-marker {
    content: "\f041";
}

.projectDetails > p {
	font-size: 12px;
	text-align: left;
	padding-left: 1%;
	margin-top: 0;
}

.progressReport > p{
	font-size: 10px;
	margin-bottom: 0;
	padding: 0;
}

.progressNumber{
	padding-right: 2%;
}

.progressText{
	padding-right: 1%;
	float: right;
}

.progressNumber > p, .progressText > p{
	margin-bottom:0;
	font-weight: bold;
	margin-top: 0;
	float: right;
	margin-right: 13px;
	margin-top: 2px;
	font-size: 12pt;
}
.progressText > p{
	float: right;
}

.progress > progress{
	height: 9px;
	width: 95%;
	margin: 2.5%;
	margin-left: 5%;
}
.progressReport{
	margin-top: 20px;
}

#progressbar::-moz-progress-bar {
  background-color: #0b5ca1 ;
}

.Stats1, .Stats2, .Stats3{
	margin: 0;
	float: left;
	padding: 0.5%;
	display: inline-block;
	text-align: center;
	font-family: BebasNeue_Light;
	letter-spacing: 0.5px;
	background-color: #333;
	color: #f3f4f4;
	
}
.StatsNumber, .StatsText{
	margin-left: 12.5%;
}
.StatsText{
	border-bottom: 1.5px solid #f3f4f4;
}
.StatsNumber p, .StatsText p{
	margin: 0;
	font-weight: bold;
}

/*footer*/
.footer{
	padding: 1%;
	text-align: center;
}