.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    width: 0;
	height: 100%;
    position: fixed; 
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
	background: transparent;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.2s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    /*! align-content: center; */
}

.transparentContainer{
	width: 100%;
    height: 100%;
	position: absolute;
}

.translucentContainer{
	position:absolute;  
    height: 100%;  
    width:100%;  
    background-color: white; 
    opacity: 0.1;  
	align-content: center;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    width: 35%; 
    text-align: left;
	left: 50%;	
	background-color: #3f94b1;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: BebasNeue_Book;
}

/* The navigation links inside the overlay */
.overlay a {
	cursor: pointer;
    text-decoration: none;
    font-size: 35px;
    color: white;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
	padding-left: 0;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #2871af;
}

.overlay h2 {
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    padding-left: 0px;
    margin-bottom: 2px;
	margin-top: 2px;
}

.overlay p{
    text-decoration: none;
    font-size: 18px;
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 0;
}

.overlay .closebtn {
    position: absolute;
	right: 14px;
	top: 16px;
    font-size: 54px;
	padding: 0 !Important;
}

.Loginclosebtn{
    position: absolute;
	  right: 8px;
    font-size: 45px !Important;
	padding: 0 !Important;
}

#SignUpButton{
	cursor: pointer;
	width: 100%;
	text-align: center;
	margin-top: 5%;
	background-color: #344348;
	color:  #00a8df !important;
}
#LogIn{
	cursor: pointer;
	font-weight: bold;
}
#LogInOverlay{
	display:none;
}
.inputFieldHeadings h2{
	float: left;
}
.inputFieldHeadings p{
	margin : 0;
}

.registrationOptions, .LoginOption{
	float: left; 
	padding: 5px;
	background-color: #7dcae6;
	text-align: center;
	color: white !Important;
	font-family: BebasNeue_Bold;
}

.optionDonorHeading{
	border-right: 4px solid #02a8e4;
}

.overlay-content h2{
	width: 100%;
	text-align: left;
}

.overlay input[type=text], input[type=digits], input[type=password]{
    width: 100%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 5px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s
}

#Donor{
    padding: 0px 5px;	
    border-top: none;
    background-color: #42a2ba;
}

#NGO{
	padding: 0px 5px;
    border-top: none;
	display: none;
	background-color: #42a2ba;
}

#LogInDetails{
    padding: 0px 5px;	
    border-top: none;
}

.overlay-content1{
	padding: 10px;
	padding-bottom: 0 !important;
	background-color: #3e95b3;
}
